image: nixos/unstable
secrets:
- 7f4676f8-c40c-498b-a4d4-a644037f559c
sources:
- git@git.sr.ht/~patwid/nixos-config
environment:
  NIX_CONFIG: experimental-features = nix-command flakes
tasks:
- check: |
    cd nixos-config
    nix flake check
# - format: |
#     cd nixos-config
#     ./format.sh
triggers:
- action: email
  condition: failure
  to: Patrick Widmer <patrick.widmer@tbwnet.ch>
